button, input[type="submit"] {
    background-color: #bada55;
    color: #008080;
};

#myselect {
    background-color: #bada55;
    color: #008080;
    border: none;
}

#myselect option {
    background-color: #bada55;
    color: #008080;
}

